<% content_for(:navbar) do %>
<li><a href="#">Sign Up</a></li>
<li><a href="#">Log In</a></li>
<% end %>

<div class="second_nav">
  <div class="column"><p>I am a....</p></div>
  <div class="buttons column">
    <div class="button-wrapper">
      <a href="#" class="button cta-button"> Customer </a>
    </div>
    <br>

    <div class="button-wrapper">
      <a href="#" class="button cta-button"> Mechanic </a>
    </div>
  </div>
</div>
