<% content_for(:navbar) do %>
  <li><a href="#">Sign Up</a></li>
<% end %>

<div class="blue_border">
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="sign-up">
        <h1>Sign up</h1>

        <p>Umami cliche pork belly church-key, literally bitters Bushwick four loko Tumblr viral actually
        selfies. Vice +1 next level quinoa, 8-bit distillery drinking vinegar XOXO beard Tumblr pug lomo locavore.
        Plaid seitan post-ironic Shoreditch. Distillery Brooklyn synth tote bag, flexitarian Schlitz ugh jean shorts hella Godard.
         Blog Echo Park viral church-key mlkshk, bitters Shoreditch. Banjo trust fund Kickstarter, Thundercats dreamcatcher occupy cliche
         try-hard.</p>
      </div>
    </div>

    <div class="col-sm-6">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="name" class="col-sm-4">Name</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" name="name" /><br />
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-4">Email</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" name="email" /><br />
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="col-sm-4">Password</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" name="password" /><br />
          </div>
        </div>
        <div class="form-group">
          <label for="payment" class="col-sm-4">Payment</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" name="payment" /><br />
          </div>
        </div>
        <div class="submit-container">
          <input class="submit-button" type="submit" value="Submit" />
        </div>
      </form>
  </div>
  </div>
</div>
