<% content_for(:navbar) do %>
<li><a href="#">New Ticket</a></li>
<li><a href="#">Profile</a></li>
<li><a href="#">Log Out</a></li>
<% end %>

<div class="blue_border">
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4 avatar">
    </div>
    <div class="col-sm-8">
    </div>
  </div>
</div>
