<% content_for(:navbar) do %>
<li><a href="#">New Ticket</a></li>
<li><a href="#">Profile</a></li>
<li><a href="#">Log Out</a></li>
<% end %>

<div class="blue_border">
</div>

<div class="container">

  <div class="row tickets">
    <div class="col-sm-4 avatar">

    </div>
    <div class="col-sm-8 ticket-info">
      <h3> Ticket Name </h3>
      <p><span class="details"> Address:</span> 1456 SE 51st Ave </p>
      <p> Suite 304, in bike closet </p>
      <p><span class="details">Problem:</span>Flat tire</p>
      <p><span class="details">Notes:</span>I have this special hipster tire.</p>
    </div>
  </div>

  <div class="row tickets">
    <div class="col-sm-4 avatar">

    </div>
    <div class="col-sm-8 ticket-info">
      <h3> Ticket Name </h3>
      <p><span class="details"> Address:</span> 1456 SE 51st Ave </p>
      <p> Suite 304, in bike closet </p>
      <p><span class="details">Problem:</span>Flat tire</p>
      <p><span class="details">Notes:</span>I have this special hipster tire.</p>
    </div>
  </div>

  <div class="row tickets">
    <div class="col-sm-4 avatar">

    </div>
    <div class="col-sm-8 ticket-info">
      <h3> Ticket Name </h3>
      <p><span class="details"> Address:</span> 1456 SE 51st Ave </p>
      <p> Suite 304, in bike closet </p>
      <p><span class="details">Problem:</span>Flat tire</p>
      <p><span class="details">Notes:</span>I have this special hipster tire.</p>
    </div>
  </div>
  
</div>
